<mat-toolbar color="primary" style = "background: none; width: 100%;">
  <mat-toolbar-row>
    <div class="d-flex justify-content-center">
      <a  routerLink="/home/'home'" routerLinkActive="active" style = "background: none !important; border: none;">
        <img style = "height: 50px; margin-left: 20px; border-radius: 50%;" src="./assets/img/logo.jpg">
      </a>        
    </div>
    <div class = "example-spacer "></div>
    <div class="d-flex justify-content-end">
        <button routerLink="/home/'ourservice'" routerLinkActive="active" style = "font-weight: bold; font-size: 14px;" mat-button>About</button>
        <button routerLink="/home/'ourtimetable'" routerLinkActive="active" style = "font-weight: bold; font-size: 14px;" mat-button>TimeTable</button>
        <button routerLink="/home/'ourcontact'" routerLinkActive="active" style = "font-weight: bold; font-size: 14px;" mat-button>Contact</button>
      <button style = "font-weight: bold; font-size: 14px;" routerLink="/signin" routerLinkActive="active" mat-button>Sign In</button>
      <button style = "font-weight: bold; font-size: 14px;" routerLink="/signup" routerLinkActive="active" mat-button>Sign Up</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>