<div *ngIf = "page == 'patientlist'">
  <div class="modal-header">
      <h4 class="modal-title" style = "text-align: center;">Өвчтөний мэдээлэл</h4>
      <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
      </button>
  </div>
  <div class="modal-body">
    <div fxLayout="row">
      <div fxFlex="50%" style = "text-align: center;">
        <div fxLayout="row">
            <div fxFlex="100%" style = "text-align: center;">
              <mat-form-field style = "width: 60%;">
                <input matInput [(ngModel)]="patient.regnumber" placeholder="Регистерийн дугаар">
              </mat-form-field>
            </div>        
        </div>
        <div fxLayout="row">
            <div fxFlex="100%" style = "text-align: center;"> 
              <mat-form-field style = "width: 60%;">
                <input matInput [(ngModel)]="patient.lastname" placeholder="Хэрэглэгчийн овог">
              </mat-form-field>
            </div>        
        </div>
        <div fxLayout="row">
            <div fxFlex="100%" style = "text-align: center;">
              <mat-form-field style = "width: 60%;">
                <input matInput [(ngModel)]="patient.firstname" placeholder="Нэр">
              </mat-form-field>
            </div>        
        </div>
        <div fxLayout="row">
            <div fxFlex="100%" style = "text-align: center;">    
              <mat-form-field style = "width: 60%;">
                <mat-select (ngModelChange)="chooseCountry($event)" 
                placeholder="Хүйс" [(ngModel)]="patient.gender">
                  <mat-option value="F">Эмэгтэй</mat-option>
                  <mat-option value="M">Эрэгтэй</mat-option>
                </mat-select>
              </mat-form-field>
            </div>        
        </div>
        <div fxLayout="row">
            <div fxFlex="100%" style = "text-align: center;">    
              <mat-form-field style = "width: 60%;">
                <input matInput [matDatepicker]="picker" [(ngModel)] = "patient.birthday" [formControl]="serializedDate"
                placeholder="Төрсөн Өдөр">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>        
        </div>
      </div>
      <div fxFlex="50%" style = "text-align: center;">
        <div fxLayout="row">
          <div fxFlex="100%" style = "text-align: center;">    
            <mat-form-field style = "width: 60%;">
              <mat-select (ngModelChange)="chooseCountry($event)" 
              placeholder="Оршин суугаа аймаг, хот" [(ngModel)]="patient.addresscity">
                <mat-option *ngFor="let city of cities" [value] = "city.name">
                    {{city.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>        
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" style = "text-align: center;">    
            <mat-form-field style = "width: 60%;">
              <mat-select (ngModelChange)="chooseCountry($event)" 
              placeholder="Оршин суугаа сум, дүүрэг" [(ngModel)]="patient.addressdistrict">
                <mat-option *ngFor="let district of districts" [value] = "district.name">
                    {{district.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>        
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" style = "text-align: center;">    
            <mat-form-field style = "width: 60%;">
              <input matInput [(ngModel)]="patient.addresshoroo" placeholder="Оршин суугаа хороо">
            </mat-form-field>
          </div>        
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" style = "text-align: center;">    
            <mat-form-field style = "width: 60%;">
              <input matInput [(ngModel)]="patient.addressdesc" placeholder="Оршин суугаа дэлгэрэнгүй хаяг">
            </mat-form-field>
          </div>        
        </div>
        <div fxLayout="row">
          <div fxFlex="100%" style = "text-align: center;">    
            <mat-form-field style = "width: 60%;">
              <input matInput [(ngModel)]="patient.phone" placeholder="Утасны Дугаар">
            </mat-form-field>
          </div>        
        </div>
      </div>
    </div>      
  </div>
  <div class="modal-footer">
      <div fxLayout="row" style = "width: 100%">
          <div fxFlex="50%" style = "text-align: center;">    
              <button class = "buttonModal" mat-button type="button" (click)="closeModal()">Хаах</button>
          </div>    
          <div fxFlex="50%" style = "text-align: center;">    
              <button class = "buttonModal" mat-button type="button" (click)="savePatient()">Хадгалах</button>
          </div>        
      </div>
  </div>
</div>