<div [ngStyle]="{'background': backgroundHeader}" style = "position: fixed; top: 0; z-index: 100; width: 100%;">
  <mat-toolbar color="primary" style = "background: none; width: 100%;">
    <mat-toolbar-row>
      <div class="d-flex justify-content-center">
        <a (click)="scroll(home)" style = "background: none !important; border: none;">
          <img style = "height: 50px; margin-left: 20px; border-radius: 50%;" src="./assets/img/logo.jpg">
        </a>        
      </div>
      <div class = "example-spacer "></div>
      <div class="d-flex justify-content-end">
        <button (click)="scroll(ourservice)" style = "font-weight: bold; font-size: 14px;" mat-button>About</button>
        <button (click)="scroll(ourtimetable)" style = "font-weight: bold; font-size: 14px;" mat-button>TimeTable</button>
        <button (click)="scroll(ourcontact)" style = "font-weight: bold; font-size: 14px;" mat-button>Contact</button>
        <button style = "font-weight: bold; font-size: 14px;" routerLink="/signin" routerLinkActive="active" mat-button>Sign In</button>
        <button style = "font-weight: bold; font-size: 14px;" routerLink="/signup" routerLinkActive="active" mat-button>Sign Up</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div fxLayout="row" #home>
  <div class="bg-img" mat-card-image></div>
</div>
<div class="d-flex justify-content-center" style = "text-align: center; top: 180px; position: absolute; z-index: 1; width: 100%;">
  <div fxLayout = "row">
    <div fxFlex="100%" style = "text-align: center;">
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">
          <p class = "fontSans" style = "color: white; font-size: 35px;">Танд хамгийн ойр</p> 
        </div>
      </div>
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">
          <h1 class = "fontSans" 
          style = "color: white; font-size: 65px; margin-top: 10px; margin-bottom: 20px; font-weight: bold;">Улаанбаатар хот дахь</h1> 
        </div>
      </div>
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">
          <p class = "fontSans" style = "color: white; font-size: 25px; margin-bottom: 20px;">уламжлалт эмчилгээний нэгдсэн төв</p>  
        </div>  
      </div>
      <div fxLayout = "row">  
        <div fxFlex="100%" style = "text-align: center;">
          <button class = "fontSans" style = "
            font-size: 18px;
            font-weight: bold;
            border-radius: 60pc;
            background-color: #58BCF3;
            padding-left: 40px;
            padding-right: 40px;
            color: white;
            height: 60px;
            width: 307px;"
            mat-button>Цаг Захиалах</button>
        </div>
      </div> 
    </div>
  </div> 
</div>
<div fxLayout="row" #ourservice>
  <div class="d-flex justify-content-center" style = "margin: auto; margin-top: 30px; margin-bottom: 20px;">
    <p class = "fontHevletica" 
      style = "color: #918FC1; font-size: 35px;">Бидний<span style = "color: #7CCCF3; font-size: 35px;"> Үйлчилгээ</span></p> 
  </div>
</div>
<div fxLayout="row">
  <div class="d-flex justify-content-center" style = "text-align: center; margin: auto; margin-bottom: 40px;">
    <p class = "fontHevletica" 
      style = "margin: auto; width: 50%; color: black; font-size: 16px;">Бид бүх сэтгэл зүрхээ өвчтөнийхөө ямар асуудалтай 
      байгаад зориулдаг ба энэ нь биднийг  зөв, оновчтой оношлогоо гаргаж өвчтөн бүрд тохирсон 
      эмчилгээг үзүүлэхэд хүргэдэг. Бид өрнө дорнын төгс зохицсон эмчилгээг та бүхэнд хүргэж байна.</p> 
  </div>
</div>
<div fxLayout="row">
  <div class="md-img" mat-card-image></div>
</div>
<div class="d-flex justify-content-center" style = "text-align: center; top: 980px; position: absolute; z-index: 1; width: 100%;">
  <div fxLayout = "row">
    <div fxFlex="100%" style = "text-align: center;"> 
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">
          <p class = "fontHevletica" style = "margin: auto; width: 50%; color: white; font-size: 25px; margin-bottom: 20px;">
          The awe of discovering the human body. The honor of being trusted to give advice. 
          The gratitude for helping someone through a difficult illness. These things never grow old.</p> 
        </div>
      </div>
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">
          <p class = "fontHevletica"
          style = "text-align: center; 
          margin: auto; 
          width: 120px; 
          border-top: thin solid white; 
          color: white; 
          font-size: 14px; 
          margin-bottom: 20px;">
            Danielle Ofri, MD</p>  
        </div>
      </div>
    </div>
  </div>    
</div>
<div fxLayout="row" #ourteam>
  <div class="d-flex justify-content-center" style = "margin: auto; margin-top: 30px; margin-bottom: 20px;">
    <p class = "fontHevletica" 
      style = "color: #918FC1; font-size: 35px;">Бидний<span style = "color: #7CCCF3; font-size: 35px;"> Баг</span></p> 
  </div>
</div>
<div fxLayout="row">  
  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    style = "width: 90%; margin: auto; height: 150px;">    
    <div class="item item-1 doc1-img" fxFlex="30%" 
    style = "width: 360px; height: 290px; background: rgb(241, 241, 241);">
      <div class = "container" 
      style = "height: 200px; background: url('assets/img/doctor1.jpg'); background-size: cover;">        
        <div class="overlay">
          <div class = "text">
            <h1 style = 
            "text-transform: uppercase; 
            height: 10px; 
            font-size: 18px; 
            margin: 0px; 
            margin-top: 60px;">С. Амарсайхан</h1>
            <span style = "
            color: black; 
            line-height: 0px; 
            font-size: 14px;
            margin-top: 5px;">Уламжлалт эмчилгээний Их Эмч</span>
          </div>
        </div>
      </div>
      <img style = "
      width: 120px; 
      height: 120px; 
      position: relative; 
      z-index: 2; 
      margin-top: -60px; 
      left: 35%; 
      border-radius: 50%;" src = "assets/img/propicdoc1.jpg">
    </div>
    <div class="item item-1 doc1-img" fxFlex="30%" 
    style = "width: 360px; height: 290px; background: rgb(241, 241, 241);">
      <div class = "container" 
      style = "height: 200px; background: url('assets/img/doctor2.jpg'); background-size: cover;">        
        <div class="overlay" style = "background-color: rgba(132, 166, 205, .85);">
          <div class = "text">
            <h1 style = "
            text-transform: uppercase; 
            height: 10px; 
            font-size: 18px; 
            margin: 0px;
            margin-top: 60px;">А. Баттулга</h1>
            <span style = "
            color: black; 
            line-height: 0px; 
            font-size: 14px; 
            margin-top: 5px;">Уламжлалт эмчилгээний Их Эмч</span>
          </div>
        </div>
      </div>
      <img style = "
      width: 120px; 
      height: 120px;
      position: relative; 
      z-index: 2; 
      margin-top: -60px; 
      left: 35%; 
      border-radius: 50%;" src = "assets/img/propicdoc2.jpg">
    </div>
    <div class="item item-1 doc1-img" fxFlex="30%" 
    style = "width: 360px; height: 290px; background: rgb(241, 241, 241);">
      <div class = "container" 
      style = "height: 200px; background: url('assets/img/doctor3.jpg'); background-size: cover;">        
        <div class="overlay" style = "background-color: rgba(138, 134, 193, .85);">
          <div class = "text">
            <h1 style = "
            text-transform: uppercase; 
            height: 10px; 
            font-size: 18px; 
            margin: 0px;
            margin-top: 60px;">Д. Даваадорж</h1>
            <span style = "
            color: black; 
            line-height: 0px; 
            font-size: 14px; 
            margin-top: 5px;">Уламжлалт эмчилгээний Их Эмч</span>
          </div>
        </div>
      </div>
      <img style = "
      width: 120px; 
      height: 120px; 
      position: relative; 
      z-index: 2; 
      margin-top: -60px; 
      left: 35%; 
      border-radius: 50%;" src = "assets/img/propicdoc3.jpg">
    </div>
  </div>
</div>
<div fxLayout="row" #ourtimetable>
  <div class="d-flex justify-content-center" style = "margin: auto; margin-top: 250px; margin-bottom: 20px;">
    <p class = "fontHevletica" 
      style = "color: #918FC1; font-size: 35px;">Ажлын цаг
      <span style = "color: #7CCCF3; font-size: 35px;"> & Цаг авах</span></p> 
  </div>
</div>
<div fxLayout="row" style = "margin-bottom: 20px;">
  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="2px"
    fxLayoutGap.xs="0"
    style = "width: 100%; margin: auto;">
    <div class="item item-1" fxFlex="50%" style = "height: 320px; text-align: center;">
      <div class="timeplan1-img" mat-card-image></div>
      <p style = "font-size: 18px; font-weight: bold; text-transform: uppercase; color: white; z-index: 2; position: relative; top: -400px;">
        Ажлын цаг
      </p>
      <p style = "font-size: 30px; font-weight: 600; color: white; z-index: 2; position: relative; top: -400px;">
        Шинжилгээ өгөх
      </p>
      <div fxLayout="row" style = "z-index: 2; position: relative; top: -380px;">
          <div
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="start"
            fxLayoutGap="20px"
            fxLayoutGap.xs="0"
            style = "width: 100%; margin: auto;">
            <div class="item item-1" fxFlex="50%">
              <p class = "timeTableDayFont">
                Даваа
              </p>
            </div>
            <div class="item item-2" fxFlex="50%">
              <p class = "timeTableHourFont">
                08:00 - 12:00
              </p>
            </div>
          </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Мягмар
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              12:00 - 16:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Лхагва
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              16:00 - 18:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Пүрэв
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              08:00 - 12:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Баасан
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              12:00 - 16:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Бямба, Ням
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              Амарна
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item item-1" fxFlex="50%" style = "height: 320px; text-align: center;">
      <div class="timeplan2-img" mat-card-image></div>
      <p style = "font-size: 18px; font-weight: bold; text-transform: uppercase; color: white; z-index: 2; position: relative; top: -400px;">
        Ажлын цаг
      </p>
      <p style = "font-size: 30px; font-weight: 600; color: white; z-index: 2; position: relative; top: -400px;">
        Эмчилгээ хийлгэх
      </p>
      <div fxLayout="row" style = "z-index: 2; position: relative; top: -380px;">
          <div
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="start"
            fxLayoutGap="20px"
            fxLayoutGap.xs="0"
            style = "width: 100%; margin: auto;">
            <div class="item item-1" fxFlex="50%">
              <p class = "timeTableDayFont">
                Даваа
              </p>
            </div>
            <div class="item item-2" fxFlex="50%">
              <p class = "timeTableHourFont">
                08:00 - 12:00
              </p>
            </div>
          </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Мягмар
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              12:00 - 16:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Лхагва
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              16:00 - 18:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Пүрэв
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              08:00 - 12:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Баасан
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              12:00 - 16:00
            </p>
          </div>
        </div>
      </div>
      <div fxLayout="row" class = "timeTableRow">
        <div
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          fxLayoutGap.xs="0"
          style = "width: 100%; margin: auto;">
          <div class="item item-1" fxFlex="50%">
            <p class = "timeTableDayFont">
              Бямба, Ням
            </p>
          </div>
          <div class="item item-2" fxFlex="50%">
            <p class = "timeTableHourFont">
              Амарна
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" #ourcontact style = "margin-bottom: 20px;">
  <div class="d-flex justify-content-center" style = "margin: auto; margin-top: 220px; margin-bottom: 20px;">
    <p class = "fontHevletica" 
      style = "color: #918FC1; font-size: 35px;">Хаяг болон<span style = "color: #7CCCF3; font-size: 35px;"> Холбоо барих</span></p> 
  </div>
</div>
<div class="d-flex justify-content-center" style = "text-align: center;">
  <div fxLayout = "row">
    <div fxFlex="100%" style = "text-align: center;">
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">          
          <p class = "fontHevletica" 
          style = "margin: auto; width: 50%; color: #918FC1; font-size: 15px; margin-bottom: 20px;">
            Traditional Medical Hospital
            8-р хороо, Бага тойруу, Сүхбаатар дүүрэг
            Улаанбаатар, Монгол улс 14191</p> 
        </div>
      </div>
      <div fxLayout = "row">
        <div fxFlex="100%" style = "text-align: center;">          
          <p class = "fontHevletica"
          style = "text-align: center; 
          margin: auto; 
          width: 80px; 
          border-top: thin solid white; 
          color: #7CCCF3; 
          font-size: 10px; 
          margin-bottom: 20px;">
            +976 99554433</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>